//
//  -----------------------------------------
//
//  Table of Contents:
//
//    - Media Queries Breakpoints
//    - Colors
//
//  -----------------------------------------

// - Media Query Breakpoints
//
// ---------
@mobile-s: 320px;
@mobile-l: 425px;
@tablet: 768px;
@laptop: 1024px;
@laptop-l: 1440px;
@4k: 2560px;

// - Demo Colors
//
// ---------

@blue: #0090d9;
@red: #cb3837;
@orange: #de7c01;
@gold: #de7c00;
@green: #00b298;
@claret: #861f41;
@black: #3d3935;
@gray: #e2e2e2;
@black: #052133;
@warning: #fb2f2f;
