
.Claimed {
  .card-header {
    background: red;
  }
}

.TODO {
  .card-header {
    background: blue;
  }
}

.Ideation {
  .card-header {
    background: orange;
  }
}

.Done {
  .card-header {
    background: yellow;
  }
}
