//External Styles
@import './styles-global/normalize.less';

//Layout Spacing
@import './styles-global/layout.less';

//Globally defined styles
@import './styles-global/defaults.less';
@import './styles-global/variables.less';
@import './styles-global/utils.less';


//Components
@import './components/Card.less';
@import './components/Column.less';
@import './components/CardCollection.less';

//App
.App {
  text-align: center;
  background: #e9e9e9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

//Ordered Elements in App
.col:first-child {
  .card .before {
    display: none;
  }
}

//Ordered Elements in App
.col:last-child {
  .card .after {
    display: none;
  }
}








